############################################
# Laravel Core
############################################

/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/public/uploads
/public/designs

/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/uploads/*d
/public/designs/*

/bootstrap/cache/*

############################################
# Environment Files
############################################

.env
.env.*
!.env.example

############################################
# Testing & Cache
############################################

.phpunit.result.cache
coverage/

############################################
# Logs
############################################

*.log

############################################
# IDE & Editor
############################################

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

############################################
# OS Files
############################################

.DS_Store
Thumbs.db

############################################
# Database
############################################

*.sqlite