.stories.snapssenger.list .story>.item-link {
  text-decoration: none;
  color: #333;
}

.stories.snapssenger.list .story>.item-link>.item-preview {
  border-radius: 50%;
  padding: 2px;
  background: #0084ff;
}

.stories.snapssenger.list .story>.item-link>.item-preview img {
  border-radius: 50%;
  border: 3px solid #fff;
}

.stories.snapssenger.list .story.seen {
  opacity: 0.75;
}

.stories.snapssenger.list .story.seen>a>span {
  background: #999;
  color: #999;
}

.stories.snapssenger.list .story.seen>a {
  color: #999 !important;
}

.stories.snapssenger.carousel .story {
  max-height: 160px;
  max-width: 110px;
  width: 25vw;
}

.stories.snapssenger.carousel .story>.item-link {
  text-decoration: none;
  text-align: left;
  color: #fff;
  position: relative;
  /* max-height: 160px; */
  width: 100px;
  height: 100px;
  border: 1px solid #E2394C !important;
  border-radius: 16px;
  overflow: hidden
}

.stories.snapssenger.carousel .story>.item-link>.item-preview img {
  border-radius: 5px;
  position: absolute;
}

.stories.snapssenger.carousel .story>.item-link>.info {
  display: none;
}

.stories.snapssenger.carousel .story>.item-link>.info .name {
  font-weight: bold;
}

.stories.snapssenger.carousel .story>.item-link>.info .time {
  display: block;
  font-weight: 100;
  font-size: 11px;
}
